@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }

::selection{
  background-color: #1a6838;
  color: white
}





/* Custom scrollbar styles */  
::-webkit-scrollbar {  
  width: 12px;  
}  

::-webkit-scrollbar-track {  
  background: #30832c;  
}  

::-webkit-scrollbar-thumb {  
  background: #1bce66;  
  border-radius: 10px;  
}  

::-webkit-scrollbar-thumb:hover {  
  background: #1bce66;  
}  

/* For Firefox */  
.scrollbar {  
  scrollbar-width: thin;  
  scrollbar-color: #888 #f1f1f1;  
}  












#toggle_checkbox
{
    display: none;
}

label
{
    display: block;
    top: 60%;
    right: 0;
    left: 70%;
    width: 100px;
    height: 40px;
    /* background-color: #77b5fe; */
    background-color: rgba(255, 255, 255, 0.757);
    border-radius: 56px;
    transform: translateY(0%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star
{
    position: absolute;
    top: 8px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star
{
    top: -3px;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon
{
    position: absolute;
    bottom: -100px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before
{
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: #000;
}

#toggle_checkbox:checked + label #star
{
    top: 1px;
    left: 48px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star
{
    color: yellow;
}

#toggle_checkbox:checked + label #moon
{
    bottom: 0px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: #000;
}